{{- $src := .Destination | safeURL -}}
{{- $alt := .Text | plainify -}}
{{- $title := .Title | plainify -}}

<span class="post-img-view">
    {{- if .Page.Site.Params.fancybox -}}
    <a class="post-img-link" data-fancybox="gallery" href="{{ $src }}">
    {{- end -}}
        <img
            class="responsive-image"
            loading="lazy"
            decoding="async"
            src="{{ $src }}"
            alt="{{ $alt }}"
            {{- with $title }} title="{{ . }}"{{ end -}}
        >
    {{- if .Page.Site.Params.fancybox -}}
    </a>
    {{- end -}}
    {{- with $title -}}
    <span class="post-img-caption">{{ . }}</span>
    {{- end -}}
</span>
